.header {
  background: url("../../frontend_assets/header_img.png") no-repeat;
  height: 34vw;
  margin: 30px auto;
  background-size: contain;
  position: relative;
  border: var(--border-style);
}
.header-container {
  /* border: var(--border-style); */
  flex-direction: column;
  position: absolute;
  display: flex;
  align-items: start;
  gap: 1.5vw;
  bottom: 10%;
  width: 50%;
  left: 6vw;
  animation: fadein 3s;
}
.header-container h1 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}
.header-container p {
  color: white;
  font-size: 1vw;
}
.header-container button {
  border: none;
  font-weight: 500;
  color: gray;
  border-radius: 50px;
  background-color: white;
  padding: 1vw 2.3vw;
  font-size: max(1vw, 13px);
}

@media (max-width: 1050px) {
  .header-container {
    /* border: var(--border-style); */
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-container {
    /* border: var(--border-style); */
    max-width: 55%;
  }
  .header-container p {
    display: none;
  }
  .header-container button {
    padding: 2vw 4vw;
  }
}
